﻿@model IEnumerable<Oefeningenreeks3.Models.Band>
@using Oefeningenreeks3.Models
<h2>Bands</h2>

<ol>
@foreach(Band band in Model)
{
    <li>@band.Naam (@band.Jaar)</li>
}
</ol>
@Html.ActionLink("Naar lijst met leden", "LijstMetLeden")